@font-face{
  font-family: montserrat;
  src: url(../web-fonts/Montserrat/Montserrat-Light.otf);
  /*src: url(../web-fonts/Montserrat/Montserrat-Black.otf),
        url(../web-fonts/Montserrat/Montserrat-Bold.otf),
        url(../web-fonts/Montserrat/Montserrat-Light.otf),
        url(../web-fonts/Montserrat/Montserrat-ExtraLight.otf),
        url(../web-fonts/Montserrat/Montserrat-Light.otf),
        url(../web-fonts/Montserrat/Montserrat-Medium.otf),
        url(../web-fonts/Montserrat/Montserrat-Regular.otf),*/
  font-weight: lighter, bolder;
      }
@font-face{
  font-family: Nexa;
  src: url(../web-fonts/Nexa/Nexa-Light.otf);
      /* url(../web-fonts/Nexa/Nexa-Bold.otf);*/
 }
@font-face{
  font-family: PierSans;
  src: url(../web-fonts/PierSans/PierSans-Light.otf);
      /* url(../web-fonts/PierSans/PierSans-Regular.otf),
       url(../web-fonts/PierSans/PierSans-Medium.otf),
       url(../web-fonts/PierSans/PierSans-Bold.otf);
  font-weight: lighter bolder;*/
      }
:root{

  --brown: #732c02;
  --gold: #d99d55;
  --orange: #D96704;
  --blue: rgba(109, 126, 188, .9);
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  transition: ease-in-out .4s;
}
body{
  width: 100%;
  font-family:PierSans, sans-serif;
  font-weight: 100;
  line-height: 1.3em;
  scroll-behavior: smooth;
}
/*Styling for navbar */
#navbar{
  height: auto;
  background-color: var(--brown);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
}
.navbar_brand{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#navbar button, #projectstab{
  border-radius: 3px;
  background-color: var(--brown);
  border: 1px solid var(--gold);
  padding: 4px;
  margin: 0px 8px;
  box-shadow: 1px 1px 1px var(--orange);
}
#navbar button:active, #navbar button:hover{
  border: 1px solid white;
  color: var(--brown);
  background-color: white;
}
#navbar a, #projectstab{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: .8em;
  font-family: PierSans, sans-serif;
}
.nav_items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}
button:hover, .active, #projectstab{
  font-size: 1.2em;
}
button>.active{
  border-bottom: 2px solid white;
}
/*Styling for the landing page image*/
#face::before{
  content: "";
  float: left;
  height: 300px;
  width: 300px;
  shape-outside: circle();
  clip-path: circle();
  background-image:url("../images/IMG-20190726-WA0032.jpg");
  background-position-x: 45%;
  background-position-y: 8%;
  background-size: 100%;
  font-size: 0%;
  margin-top: 2%;
  margin-left: 2%;
}
#face{
  float: left;
  height: 312px;
  width: 312px;
  shape-outside: circle();
  clip-path: circle();
  background-color: var(--gold);
  margin-left: 10%;
  transition:  cubic-bezier(1, 0, 0, 1) 2s;
}
#face:hover{
  width: 300px;
  transition: ease-out .8s;
}
  /*Styling for the log and adding the shape to it*/
#logo{
  float: left;
  width: 50px;
  height: 50px;
  shape-outside: polygon(
    30% 0,
    70% 0,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0,
    70% 0,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  background-color: var(--gold);
  margin-top: 10px;
  border: 4px solid white;
  font-size: 0.8em;
  padding-top: 1%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
/*Styling paragraph next to the image on landing page*/
#description{
  padding: 10px;
  color: black;
  font-size: 1.2em;
}
.horizontal{
  height: 2px;
  background-color: var(--brown);
}
cite{
  font-family: 'Nexa';
  font-style: italic;
}
/*styling for new item id galllery, after the mapline befor contacts page on index,html*/
#gallery{
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  overflow-x: scroll;
}
#gallery>.card:hover{
  z-index: 3;
}
#gallery>.card{
  height: 100%;
  width: auto;
  min-width: 200px;
  border-radius: 5px;
}
#gallery>.card>.card-image{
  height: 100%;
  width: auto;
  padding: 0px;
}
#gallery>.card>.card-image>img{
  height: 100%;
  width: auto;
}
#gallery>.card>.card-body{
  opacity: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  width: auto;
  height: 100%;
  background-color: rgb(0, 0, 0, .7);
  color: white;
  backdrop-filter: blur(5px);

}
#gallery>.card>.card-body:hover{
  opacity: 100%;
  transition:cubic-bezier(3, 0, 0, 1) .4s;
}
#gal{
  text-align: center;
  margin: 1%;
  color: var(--brown);
  text-decoration: underline;
  }

#the-story>div:nth-child(3){
  width: 100%;
}
/*Styling for contact page*/
#contact{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
  padding: 3%;
}
#twitter img, #github img, #whatsapp img{
  width: 40px;
  height: 40px;
  margin-left: 2%;
}
#cred{
  width: 30%;
  border-right: 2px solid black;
  line-height: 2em;
}
#social{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  border-right: 2px solid black;
  padding-top: 2%;
  margin-left:-4%;
}
#copy{
  text-align: center;
}
/*Styling Background section in landing page"*/
#background{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#landing{
  background-color: white;
  background-repeat: no-repeat;
  height: auto;
  width: 99vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.banner{
  width: 80vw;
}
.banner>img{
  width: 100% ;
}

.greeting{
  background-image: url('../images/organic_blob_10_384.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro_mess{
  width: 500px;
  line-height: 2em;
  text-align: center;
  font-size: 1.8em;
  color: rgb(24,48,108);
  text-shadow:1px 1px 1px white;
  padding-left: 15%;
}
#the-story{
  width: 90%;
  border-radius: 15px;
  background-position: center;
  height: auto;
  color: black;
  border: 2px sold red;
}
#mapline{
  line-height: 10em;
  width: 15%;
  position: relative;
  left: 8%;
}
#map1, #map2, #map3{
  shape-outside: circle(35% at 50%);
  clip-path: circle(35% at 50%);
  background-color: var(--gold);
  text-align: center;
  color: white;
  font-size: 1.2em;
}
#mapline a{
  text-decoration: none;
}
#mapline>a :hover{
  color: var(--orange);
  font-size: 1.5em;
  background-color: var(--brown);
  text-shadow: 1px 0px 0px white;
}
.line{
  text-align: center;
  border-left: 2px solid var(--brown);
  height: 100px;
  margin:0%;
  position: relative;
  left: 50%;
  margin:-20% 0% -20% 0%;
}
/*Styling the projects.html page*/
/*Styling the banner*/
#banner{
  height: 400px;
  width: 100%;
  background-image: url('../images/sackcloth-sackcloth-textured-laptop-ipad-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
}
svg{
  color: white;
  font-size: 2em;
  margin: 3% 0 0 0;
  height: 80%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: ease-out 0.5s;
}
svg:hover{
  margin: 0;
  height: 100%;
  transition: ease-in 0.8s;
}
/*Styling the skillspart*/
#sidebar{
  padding: 3%;
  float: left;
  width: 20%;
  line-height: 2em;
  background-color: var(--brown);
  border-radius: 5px;
  margin-right: 1%;
  border: 2px solid var(--gold);
  height: 40vh;
}
#sidebar a, #sidebar h3{
  color: white;
  text-decoration: none;
  text-align: center;
}
#sidebar a:hover{
  text-decoration: underline;
  color: var(--brown)  ;
}
.github>a>img:hover{
  width: 60px;
  border: 2px solid var(--gold);
}
#skill{
  left: 0px;
  background-position: center;
  background-size: contain;
  transition: ease 0.5s;
}
  /*Styling the projec samples section*/
  #projects{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  #projects>.card{
    height: auto;
  }
  #projects>.card>.card-image{
    height: 60vh;
  }
  #projects>.card>.card-image>#project1{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #projects1{
    height: 100%;
  }
  .title{
    text-align: center;
    margin-top: 2%;
    color: white;
    background-color: var(--brown);
    padding: 1.5%
  }
  .projectDescription{
    background-color: var(--brown);
    width: 100%;
    height: auto;
    border: 2px solid var(--gold);
    color: white;
    font-size: 0.8em;

  }
  #polygon{
    border: 3px solid var(--gold);
    height: 100%;
    width: 60%;
    float: right;
    border-radius: 0 15px 15px 0;
  }
  #polygon:hover{
    background-size: 2000%;
    background-position: center;
    border: 3px solid red;
    
  }
  /*Styling Hobbies page. Aso labeled as Fun side"*/
  #fun{
    background-image: url('../images/palmBeach.jpg');
    background-size: 100%;
    color: white;
  }
  #overlay{
    background-color: rgba(0, 0, 0, 0.6);
  }
  #hobbiesslide{
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/artwork.jpg');
    border-bottom: 5px solid var(--gold);
  }
  #hobbiesslide>p{
    font-size: 2em;
    color: white;
    background-color: rgba(115, 44, 2, 0.6);
    width: 20%;
    height: 40px;
    padding: 1%;
    border: 1px solid white;
    border-radius: 10px;
  }
  #hobby1, #hobby2, #hobby3, #hobby4{
    width: 40%;
    height: 300px;
    margin: 5%;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
  }
  #hobbycont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
  }
  #hobby1 img, #hobby2 img, #hobby3 img, #hobby4 img, #hobby5 img{
    width: 100%;
  }
  #hobby5{
    height: 300px;
    border: 3px solid white;
    border-radius: 15px;
    overflow: hidden;
  }
  #hobby5 img{
    float: left;
  }
 #hobby1>p, #hobby2>p, #hobby3>p, #hobby4>p{
   background-color: white;
   color: black;
  }
  #play{
    background-color: var(--brown);
    width: 200%;
    text-align: center;
    padding: 1%;
    font-size: 1.3em;
    color: white;
  }
  #play audio{
    margin-top: 2%;
  }

  /*styling footer */
  .footer{
    background-color: var(--brown);
    padding: 10px;
    color: white;
    height: auto;
    min-height: 50vh;
    
    
  }
 .footer_form{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   min-height: 30vh;
   height: auto;
   overflow-wrap: normal;
   
 }
 .footer_form>div{
   margin: 0 20px;
 }
 .mc-field-group>input{
   background-color: none;
   height: 30px;
   border-radius: 3px;
   border: 1px solid var(--gold);
   margin-bottom: 2px;
 }
 #mce-MMERGE7{
   height: 80px;
 }
 #mc_embed_signup{
   margin-left: 30px;
 }