{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>Caleb Odinga- {{title}}</title>
  {% else %}
  <title>Caleb Odinga Portfolio</title>
  {% endif %}
  {% block styles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">

  {%endblock%}

</head>

<body>
  {% include 'all_templates/navbar.html' %}
  {% block content %}

  {% endblock %}
  {% include 'all_templates/footer.html' %}
  {% block scripts %}
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="{% static 'js/index.js'%}"></script>
  {%endblock%}
</body>

</html>