{% extends 'all_templates/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content%}
<!--Add the page's body-->
<div id="fun">
  <div id="overlay">
    <div id="hobbiesslide">
      <p> FUn iN ARt! </p>
    </div>
    <h3>Hobbies</h3>
    <div id="hobbycont">
      <div id="hobby1">
        <p>Star Gazing-- Watching the sky blinking, stars shooting, makes you marvel at the wonder that is Earth.
        </p>
        <img src="images/stargazing.jpg" alt="Star Gazing">
      </div>
      <div id="hobby2">
        <p>Photography--Remember that wonder that is Earth, Now imagine having that memory for life, and sharing it
          with others in its ourest form.</p>
        <img src="images/photography.jpeg" alt="Photography">
      </div>
      <div id="hobby3">
        <p>Binge Watching--<p>So there is watching Movies, then there is Binge Watching, The difference is...hold
            upill be back.</p>
          <img src="images/Bingewatching.jpg" alt="Binge Watching">
      </div>
      <div id="hobby4">
        <p>Travelling--<p>And not to those crowded noisy places, Breezy and silent is the type of thing thats for
            me.Did i say trains are the Best?</p>
          <img src="images/traintravelling.jpeg" alt="Travelling">
      </div>
      <div id="hobby5">
        <h4>Music</h4>
        <img src="images/coldplay.jpg" alt="Music">
      </div>
      <div id="play">
        <p>And on the Seventh Day, He made Coldplay. That Band y'all. Here is a taste!</p>
        <audio controls>
          <source src="images/Coldplay - Paradise (Official Video).mp3" preload="auto">
        </audio>
      </div>
    </div>
  {%endblock%}