{% extends 'all_templates/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content%}
<div id="index" class="container-md-fluid">
  <!--THis part creates the nav bar, including logo and nav link buttons-->
  <div id="landing">
    <!-- This part defines the langing page, banner, What a usersees immediately they visit the site-->
    <span id="face"></span>
    <span class="greeting">
      <h4 class="intro_mess">{{profile.intro_message}}</h4>
      <p class="tagline">{{profile.tagline}}</p>
    </span>
    <div id="description">
      <p>{{profile.mantra}}</p>
    </div>
  </div>
  <hr />
  <div id="background" class="row">
    <!--This part illustrates the background section. On the right side is a mapline, in future these are made link to different parts of the story. Once cicked the corresponding part of the story highlights-->
    <div id="the-story">
      {% if background %}
      {% for story in background%}
      <div class="card">
        <div class="card-title">
          <h2>{{story.title}}</h2>
        </div>
        <div class="card-body">
          <p id="intro">{{story.description}}</p>
        </div>
        {% if story.links%}
        <div class="card-footer">
          <h6 class="bold">{{story.links}}</h6>
        </div>
        {%endif%}

        <div id="mapline">
          <a href="">
            <div id="map1">Intro</div>
          </a>
        </div>
      </div>
      {%endfor%}
      {%else%}
      <p class="bold">No Stories added!</p>
      {%endif%}
    </div>

  </div>
  <hr />
  <div class="tools">
    <h4 id="gal">Creative Tools</h4>
    {% if tools %}
    <div id="gallery" class="row">
      {% for tool in tools %}
      <div class="card">
        <div class="card-image">
          <img alt="{{tool.title}}" src="{{tool.image_path.url}}">
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{tool.title}}
          </h5>
          <p class="card-text">
            {{tool.description}}
          </p>
          <h5 class="pill">
            For: {{tool.skill.title}}
          </h5>
        </div>
      </div>
      {% endfor%}
    </div>
    {%else%}
    <h6 class="bold mute"> No tools added yet</h6>
    {%endif%}
  </div>
</div>
{%endblock%}