{% extends 'all_templates/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content%}
<div id="index" class="container-md-fluid">
  <!--THis part creates the nav bar, including logo and nav link buttons-->
  <div id="landing">
    <!-- This part defines the langing page, banner, What a usersees immediately they visit the site-->
    <div class="banner">
      <img src="../../static/images/OrgCoral_Ofc-01_Concept-06.jpg" alt="">
    </div>
    <div class="greeting">
      <h4 class="intro_mess">{{profile.tagline}}</h4>
    </div>
  </div>
  <div class="horizontal"></div>
  <div id="description" class="row m-0">
    <div class="card col-md-8">
      <div class="card-footer">
        <div class="card-text">
          <p class="tagline">{{profile.intro_message}}</p>
        </div>
      </div>
    </div>
    <div class="card col-md-4">
      <div class="card-footer">
        <div class="card-text">
          &OpenCurlyDoubleQuote;<cite>{{profile.mantra}}</cite>&CloseCurlyDoubleQuote;
        </div>
      </div>
    </div>
  </div>
  <div id="background" class="d-flex flex-row flex-wrap align-items-center justify-content-space-evenly">
    <!--This part illustrates the background section. On the right side is a mapline, in future these are made link to different parts of the story. Once cicked the corresponding part of the story highlights-->
    <div id="the-story">
      <h3 class="bold">Background</h3>
      {% if background %}
      {% for story in background%}
      <div class="card col-md-6">
        <div class="card-title col-md-12">
          <h2>
            < {{story.title}} />
          </h2>
        </div>

        <div class="card-body d-flex flex-row">
          {% if background.image_path.url %}
          <div class="col-md-4">
            <img src="{{background.image_path.url}}" alt="{{background.title}}" style="width: 100%;">
          </div>
          {%endif%}
          <div class="">
            <p id="intro">{{story.description|safe}}</p>
          </div>

        </div>

        {% if story.links%}
        <div class="card-footer">
          <a href="https://github.com/COdingaorg">
            <h6 class="bold">Github Link</h6>
          </a>
        </div>
        {%endif%}
      </div>

      {%endfor%}
      <div class="card col-md-6">
        <div class="card-image col-md-12">
          <img src="{% static 'images/20944346.jpg' %}" alt="" style="width: 100%;">
        </div>
      </div>

      {%else%}
      <p class="bold">No Stories added!</p>
      {%endif%}
    </div>

  </div>
  <div class="horizontal"></div>
  <div class="tools">
    <div class="titler">
      <h3 class="bold">Creative Tools</h3>
      <h6>Tools used in building projects</h6>
    </div>
    {% if tools %}
    <div id="gallery">
      {% for tool in tools %}
      <div class="card d-flex align-items-center justify-content-space-around">
        <div class="card-image">
          <img alt="{{tool.title}}" src="{{tool.image_path.url}}">
        </div>
        <div class="card-body col-md-12">
          <h5 class="card-title">
            {{tool.title}}
          </h5>
          <p class="card-text">
            {{tool.description}}
          </p>
          <h5 class="pill">
            For: {{tool.skill.title}}
          </h5>
        </div>
      </div>
      {% endfor%}
    </div>
    {%else%}
    <h6 class="bold mute"> No tools added yet</h6>
    {%endif%}
  </div>
</div>
{%endblock%}