{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>{{title}}</title>
  {%else%}
  <title>StucC</title>
  {%endif%}
  {% block styles %}
  {%bootstrap_css%}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  <link rel="stylesheet" href="{% static 'css/index.css'%}">

  {%endblock%}
</head>

<body>

  {% include 'all_templates/navbar.html'%}
  <div class="d-flex flex-column profile">
    <div class="col-md-11">
      <div class="col-md-3 left_profile">
        {% if not profile %}
        <div class="prof_image">
        </div>
        {%else%}
        <div class="prof_image" style="background-image: url('{{profile.photo_path.url}}');
               background-position: center;
               background-size: contain;
               background-repeat:no-repeat;">
        </div>

        {%endif%}
        <p>{{user.first_name}}-{{user.last_name}}</p>
        <!--if it is the owner, edit profile, else, follow-->
        {%if profile %}
        {% if user.id != profile.user.id%}
        {%else%}
        <strong>
          <button type="button" class="btn btn-default m-2" data-toggle="modal" data-target="#exampleModalLong"
            class="edit_profile">
            Edit Profile
          </button>
        </strong>
        {%endif%}
        {%else%}
        <strong>
          <button type="button" class="btn btn-default m-5" data-toggle="modal" data-target="#exampleModalLong"
            class="edit_profile">
            Add Profile
          </button>
        </strong>
        {%endif%}
        <div class="redir m-3">
          <a href="{% url 'profile' %}" class="btn btn_control redirect_btn col-md-8">
            <p class="p-auto">Dashboard</p>
          </a>

          <a href="{% url 'background' %}" class="btn btn_control redirect_btn col-md-8">
            <p class="p-auto">Background Form</p>
          </a>
          <div class="skills d-flex flex-row align-items-center justify-content-center">
            <a href="{% url 'skills'%}" class="btn btn_control redirect_btn col-md-8">
              <p class="p-auto">Skills</p>
            </a>
            <a href="{% url 'tools'%}" class="btn btn_control redirect_btn col-md-8">
              <p class="p-auto">Tools</p>
            </a>
          </div>
          <div class="skills d-flex flex-row align-items-center justify-content-center">
            <a href="{% url 'contact'%}" class="btn btn_control redirect_btn col-md-8">
              <p class="p-auto">Contact</p>
            </a>
            <a href="{% url 'social'%}" class="btn btn_control redirect_btn col-md-8">
              <p class="p-auto">Social</p>
            </a>
          </div>
          <a href="{% url 'hobbyform'%}" class="btn btn_control redirect_btn col-md-8">
            <p class="p-auto">Hobby Form</p>
          </a>
          <a href="{% url 'projectform'%}" class="btn btn_control redirect_btn col-md-8">
            <p class="p-auto">Add Projects</p>
          </a>

        </div>
      </div>
      <div class="col-md-9 right_profile">
        <div class="col-md-12 title_profile">
          {% for message in messages%}
          <div class="alert alert-danger">
            {{message}}
          </div>
          {%endfor%}
          <div class="col-md-8">
            <h3>Profile Account - {{request.user.username}}</h3>
            <i>{% if profile %} {{profile.bio}} {%else%} 'No bio Added'{%endif%}</i>
          </div>
          <div class="col-md-3 d-flex flex-row">
            <a href="#" class="btn btn_control redirect_btn col-md-8">
              <p class="p-auto">Settings</p>
            </a>

            <a href="/"><button class="btn btn-default">Home</button></a>

          </div>
        </div>
        <div class="col-md-12 main_page">

          {% block content %}

          {%endblock%}
        </div>
      </div>
    </div>

    {%block scripts%}
    {%bootstrap_javascript%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {%endblock%}
  </div>
</body>

</html>